.layout {
  color: #333;
  height: 100%;

  .ant-layout-header {
    background: #0688ff;
  }

  .layout-content {
  }

  .ant-layout-footer {
    border-top: 1px solid #CCCCCC;
    padding: 0;
    height: 30px;
    line-height: 30px;
  }
}
